body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 26, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    height: 50%;
}

input {
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #7ce780;
    border-radius: 3px;
    outline: none;
    width: 80%;
    background-color: rgb(0, 26, 0);
    box-shadow: none;
    color: white;
}

input:focus {
    border-bottom: 2px solid #4CAF50;
    outline: none;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    width: 80%;
}
button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #4CAF50;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 80%;
}
button:hover {
    transform: rotate(5deg);
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    border-radius: 3px;
    color: #333;
    height: 100%;
    width: 50%;
}
h2 {
    color: white;
    width: 80%;
    margin: 0;

}
p {
    color: white;
    padding: 20px;
    width: 80%;
}

.info-box-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info-box-text {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin: 20px 0; 
}